body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    padding-left: 16px;
}

ul li a {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    border-radius: 8px;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 150px;
    align-items: center;
}

.header div {
    font-size: 24px;
    color:#f9faf8;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 150px;
}

.content {
    max-width: 500px;
}

.content div {
    padding-bottom: 8px;
}

.title {
    font-size: 48px;
    color:#f9faf8;
    font-weight: bolder;
}

.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.main-img {
    height: auto;
    width: 500px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.info {
    padding: 50px 0px 50px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding-bottom: 50px;
}

.info-img {
    height: 250px;
    width: 250px;
    border-radius: 12px;
}

.img-text {
    margin-top: 8px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 400px;
    display: flex;
    flex-direction: column;
}

.words {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    color: #1f2937;
    font-weight: 700;
    font-size: 24px;
}

.signup {
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 50px;
}

.signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 50px 100px;
    gap: 150px;
    border-radius: 12px;
}

.signup-head {
    color: #f9faf8;
    font-size: 24px;
}

.signup-subhead {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-button {
    border-color: #f9faf8;
    padding: 8px 16px;
}

.footer {
    display: flex;
    margin-top: auto;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 16px;
    font-size: 16px;
}
